{% extends "mantenimientosUri/baseMantenimientosUri.html" %}

{% block title %} S.U.C.I | Mantenimiento/Via de reportes {% endblock %}

{% load static %}

{% block content %}

<div class="main--content">
    <div class="header--wrapper">
        <div class="header--title">
            <h2>Mantenimiento /<small> Vía de Reportes </small></h2>
        </div>
        <div class="user--info">
            <img src="{% static 'img/ven911.jpg' %}">
            <h2 class="title">V{{request.user.username}}</h2>
        </div>
    </div>

    <div align="right" style="margin-right: 100px; margin-bottom: -10px;">
        <button id="addReportes" class="btn">Agregar</button>
        
    </div>


    <div class="tabular--wrapper">
        <h3 class="main--title">Recientes</h3>
        <div class="table-container">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Vía de Reporte</th>
                        <th>Acciones</th>
                    </tr>
                <tbody>
                    {% for reporte in reportes %}
                    <tr>
                        <td>{{ reporte.id }}</td>
                        <td>{{ reporte.reporte }}</td>
                        <td>
                            <a href="#" title="Editar via de reporte" id="myBtnUpd" data-toggle="modal" data-id='{{ reporte.id }}'
                            class="btn-editar"
                            style="color: black;">
                            <i class="fa-solid fa-edit"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                </thead>
            </table>
        </div>
    </div>

    <!--    INCLUYE MODAL PARA AGREGAR, MODIFICAR, ELIMINAR PERSONAL     -->
    {% include "modal/addReporte.html" %}
    {% include "modal/updReporte.html" %}

    <script src="{% static 'js/reporte.js' %}"></script> 
    
    {% endblock %}