{% extends "mantenimientosUri/baseMantenimientosUri.html" %}

{% block title %} S.U.C.I | Mantenimiento/Modo de Traslado {% endblock %}

{% load static %}

{% block content %}

<div class="main--content">
    <div class="header--wrapper">
        <div class="header--title">
            <h2>Mantenimiento /<small> Modo de Traslado </small></h2>
        </div>
        <div class="user--info">
            <img src="{% static 'img/ven911.jpg' %}">
            <h2 class="title">V{{request.user.username}}</h2>
        </div>
    </div>

    <div align="right" style="margin-right: 100px; margin-bottom: -10px;">
        <button id="addTraslados" class="btn">Agregar</button>
        <input type="hidden" class="btn" onclick="location.href='{% url 'traslados' accion='todos'  %}'"></input>
    </div>


    <div class="tabular--wrapper">
        <h3 class="main--title">Recientes</h3>
        <div class="table-container">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Modo Traslado</th>
                        <th>Acciones</th>
                    </tr>
                <tbody>
                    {% for traslado in traslados %}
                    <tr>
                        <td>{{ traslado.id }}</td>
                        <td>{{ traslado.traslado }}</td>
                        <td>
                            <a href="#" title="Editar modo de traslado" id="myBtnUpd" data-toggle="modal" data-id='{{ traslado.id }}'
                            class="btn-editar"
                            style="color: black;">
                            <i class="fa-solid fa-edit"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                </thead>
            </table>
        </div>
    </div>

    <!--    INCLUYE MODAL PARA AGREGAR, MODIFICAR, ELIMINAR PERSONAL     -->
    {% include "modal/addTraslado.html" %}
    {% include "modal/updTraslado.html" %}

    <script src="{% static 'js/traslado.js' %}"></script> 
    
    {% endblock %}