{% extends "mantenimientos/baseMantenimientos.html" %}

{% block title %} S.U.C.I | Mantenimiento/Sedes {% endblock %}

{% load static %}

{% block content %}

<div class="main--content">
    <div class="header--wrapper">
        <div class="header--title">
            <h2>Mantenimiento /<small> Sedes </small></h2>
        </div>
        <div class="user--info">
            <img src="{% static 'img/ven911.jpg' %}">
            <h2 class="title">V{{request.user.username}}</h2>
        </div>
    </div>

    <div align="right" style="margin-right: 100px; margin-bottom: -10px;">
        <button id="myBtnAddSedes" class="btn">Agregar</button>
        <input type="hidden" class="btn" onclick="location.href='{% url 'departamento' accion='todos'  %}'"></input>
    </div>


    <div class="tabular--wrapper">
        <h3 class="main--title">Recientes</h3>
        <div class="table-container">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Sedes</th>
                        <th>Estatus</th>
                        <th>Acciones</th>
                    </tr>
                <tbody>
                    {% for mantSedes in sedes %}
                    <tr>
                        <td>{{ mantSedes.sede }}</td>
                        <td>{{ mantSedes.estatus }}</td>
                        <td>
                            <a href="#" title="Editar Talla" id="myBtnUpd" data-toggle="modal" data-id='{{ mantSedes.id }}'
                            class="btn-editar"
                            style="color: black;">
                            <i class="fa-solid fa-trash-can"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                </thead>
            </table>
        </div>
    </div>

    <!--    INCLUYE MODAL PARA AGREGAR, MODIFICAR, ELIMINAR PERSONAL     -->
    {% include "modal/addSedes.html" %}
    {% include "modal/updSede.html" %}

    <script src="{% static 'js/sedes.js' %}"></script> 

    {% endblock %}