{% extends "mantenimientos/baseMantenimientos.html" %}

{% block title %} S.U.C.I | Mantenimiento/Género {% endblock %}

{% load static %}

{% block content %}

<div class="main--content">
    <div class="header--wrapper">
        <div class="header--title">
            <h2>Mantenimiento /<small> Género</small></h2>
        </div>
        <div class="user--info">
            <img src="{% static 'img/ven911.jpg' %}">
            <h2 class="title">V{{request.user.username}}</h2>
        </div>
    </div>

    <div align="right" style="margin-right: 100px; margin-bottom: -10px;">
        <button id="myBtnAddGenero" class="btn">Agregar</button>
    </div>


    <div class="tabular--wrapper">
        <h3 class="main--title">Recientes</h3>
        <div class="table-container">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Género</th>
                    </tr>
                <tbody>
                    {% for mantSexo in genero %}
                    <tr>
                        <td>{{ mantSexo.sexo }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                </thead>
            </table>
        </div>
    </div>



    

    <!--    INCLUYE MODAL PARA AGREGAR, MODIFICAR, ELIMINAR PERSONAL     -->
    {% include "modal/addGenero.html" %}
    <script src="{% static 'js/sexo.js' %}"></script> 

    {% endblock %}