/* =========== Google Fonts ============ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* =============== Globals ============== */
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
}

.sidebar {
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  width: 110px;
  height: 100vh;
  padding: 0 1.7rem;
  color: #ffffff;
  transition: all 0.5s linear;
  background: #084337;
}

.sidebar:hover {
  width: 300px;
  transition: 0.5s;
}

.logo {
  height: 10px;
  padding: 16px;
}

.menu {
  height: 88%;
  position: relative;
  list-style: none;
  padding: 0;
}

.menu li {
  padding: 1rem;
  margin: 8px 0; 
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}

.menu li:hover,
  .active {
  background: #e0e0e058;
}

.menu a {
  color:#e6e6e6;
  font-size: 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.menu a span {
  overflow: hidden;
}

.menu a i {
  font-size: 1.2rem;
}

.logout {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.logout.new {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
}
.main--content {
  position: relative;
  background: #DCDFE1;
  width: 100%;
  padding: 1rem;
}

.header--wrapper img{
  width: 60px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
}
.header--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: #ffffff;
  border-radius: 10px;
  padding: 10px 2rem;
  margin-bottom: 1rem;
}

.header--title {
  color: #084337;
}

.user--info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.searh--box {
  background:rgb(237, 237, 237);
  border-radius: 15px;
  color: #084337;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 4px 12px;
}
.searh--box input {
  background: transparent;
  color: rgb(6, 31, 11);
  padding: 10px;
}
.searh--box i {
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.searh--box i:hover {
  transform: scale(1.2);
}

/**Cartas**/
.card--container {
  background: #ffffff;
  padding: 2rem;
  border-radius: 10px;
}
.card--wrapper {
  display: grid;
  flex-wrap: wrap;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr); 
}
.main--title {
  color: #084337;
  padding-bottom: 10px;
  font-size: 20px;
}
.payment--card {
  background: rgb(229, 223, 223);
  border-radius: 10px;
  padding: 1.2rem;
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.1s ease-in-out;
}

.payment--card:hover {
  transform: translateY(-5px);
}

.payment--card:hover {
  transform: translateY(-5px);
}

.card--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.amount {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 20px;
  font-weight: 200;
}

.amount--value {
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.icon {
  color:#DCDFE1;
  padding: 1rem;
  height: 40px;
  width: 40px;
  text-align: center;
  border-radius: 60%;
  font-size: 1.5rem;
  background: #084337;
}
.card-detail {
  font-size: 15px;
  color: rgba(219, 0, 0, 0.467);
  letter-spacing: 2px;
  font-family: "Poppins", sans-serif;
}
.light-green {
  background: #96b9b2;
}

/**Tablas**/
.tabular--wrapper {
  background: #ffffff;
  margin-top: 1rem;
  border-radius: 10px;
  padding: 2rem;
}

.table-container {
  width: 100%;
  overflow:auto;  
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #084337;
  color: #ffffff;
}

th {
  padding: 15px;
  text-align: left;
}

tbody {
  background: #f2f2f2;
}

td {
  padding: 15px;
  font-size: 14px;
  color: rgb(0, 0, 0);
}

tr:nth-child(even) {
  background: #adacac;
}



.modal-open{
  overflow:hidden
}
.modal{
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:1050;
  display:none;
  overflow:hidden;
  -webkit-overflow-scrolling:touch;
  outline:0
}

.modal.fade .modal-dialog{
  -webkit-transition:-webkit-transform .3s ease-out;
  -o-transition:-o-transform .3s ease-out;
  transition:transform .3s ease-out;
  -webkit-transform:translate(0,-25%);
  -ms-transform:translate(0,-25%);
  -o-transform:translate(0,-25%);
  transform:translate(0,-25%)
}

.modal.in .modal-dialog{
  -webkit-transform:translate(0,0);
  -ms-transform:translate(0,0);
  -o-transform:translate(0,0);
  transform:translate(0,0)
}
.modal-open .modal{
  overflow-x:hidden;overflow-y:auto
}

.modal-dialog{
  position:relative;
  width:auto;margin:10px
}

.modal-content{
  position:relative;
  background-color:#fff;
  -webkit-background-clip:padding-box;
  background-clip:padding-box;
  border:1px solid #999;
  border:1px solid rgba(0,0,0,.2);
  border-radius:6px;outline:0;
  -webkit-box-shadow:0 3px 9px rgba(0,0,0,.5);
  box-shadow:0 3px 9px rgba(0,0,0,.5)
}

.modal-backdrop{
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:1040;
 
}

.modal-backdrop.fade{
  filter:alpha(opacity=0);
  opacity:0
}

.modal-backdrop.in{
  filter:alpha(opacity=50);
  opacity:.5
}

.modal-header{
  padding:15px;border-bottom:1px solid #e5e5e5
}

.modal-header .close{
  margin-top:-2px
}

.modal-title{
  margin:0;line-height:1.42857143
}

.modal-body{
  position:relative;padding:15px
}
.modal-footer{
  padding:15px;text-align:right;border-top:1px solid #e5e5e5
}
.modal-footer .btn+.btn{
  margin-bottom:0;margin-left:5px
}

.modal-footer .btn-group .btn+.btn{
  margin-left:-1px
}
.modal-footer .btn-block+.btn-block{
  margin-left:0
}
.modal-scrollbar-measure{
  position:absolute;top:-9999px;width:50px;
  height:50px;overflow:scroll
}

/*@media (min-width:768px){
  .modal-dialog{
    width:600px;margin:30px auto
  }
  .modal-content{
    -webkit-box-shadow:0 5px 15px rgba(0,0,0,.5);
    box-shadow:0 5px 15px rgba(0,0,0,.5)
  }
  .modal-sm{
    width:300px
  }
}

@media (min-width:992px){
  .modal-lg{
    width:900px
  }
}*/












.btn {
  position: relative;
  padding: 5px 10px;
  background: #084337;
  text-decoration: none;
  color: #ffffff;
  border-radius: 6px;
}
.cardHeader .btn {
  position: relative;
  padding: 5px 10px;
  background: #084337;
  text-decoration: none;
  color: #aaa;
  border-radius: 6px;
}
/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 7% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-right: 10px;
}

.close:hover,
.close:focus {
  
  text-decoration: none;
  cursor: pointer;
}

.form-group{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.form-items{
  width: 330px;
  margin: 10px;
}

.form-control{
  display: block;
  padding: 10px;
  border-radius: 20px;
  margin: 10px 0;
  border: 2px solid #eee;
  color: #084337;
  width: 100%;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .col-md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
 /* Ejemplos de columnas de ancho específico para dispositivos de tamaño mediano */
.col-md-1 {
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}
.col-md-2 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}
.col-md-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.col-md-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.col-md-5 {
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}
.col-md-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.col-md-7 {
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}
.col-md-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}
.col-md-9 {
  flex: 0 0 75%;
  max-width: 75%;
}
.col-md-10 {
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}
.col-md-11 {
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}
.col-md-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
}

badge{color:#fff;background-color:#333}.btn-primary{color:#fff;background-color:#337ab7;border-color:#2e6da4}.btn-primary.focus,.btn-primary:focus{color:#fff;background-color:#286090;border-color:#122b40}.btn-primary:hover{color:#fff;background-color:#286090;border-color:#204d74}.btn-primary.active,.btn-primary:active,.open>.dropdown-toggle.btn-primary{color:#fff;background-color:#286090;border-color:#204d74}.btn-primary.active.focus,.btn-primary.active:focus,.btn-primary.active:hover,.btn-primary:active.focus,.btn-primary:active:focus,.btn-primary:active:hover,.open>.dropdown-toggle.btn-primary.focus,.open>.dropdown-toggle.btn-primary:focus,.open>.dropdown-toggle.btn-primary:hover{color:#fff;background-color:#204d74;border-color:#122b40}.btn-primary.active,.btn-primary:active,.open>.dropdown-toggle.btn-primary{background-image:none}.btn-primary.disabled.focus,.btn-primary.disabled:focus,.btn-primary.disabled:hover,.btn-primary[disabled].focus,.btn-primary[disabled]:focus,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary.focus,fieldset[disabled] .btn-primary:focus,fieldset[disabled] .btn-primary:hover{background-color:#337ab7;border-color:#2e6da4}.btn-primary .badge{color:#337ab7;background-color:#fff}.btn-success{color:#fff;background-color:#5cb85c;border-color:#4cae4c}.btn-success.focus,.btn-success:focus{color:#fff;background-color:#449d44;border-color:#255625}.btn-success:hover{color:#fff;background-color:#449d44;border-color:#398439}.btn-success.active,.btn-success:active,.open>.dropdown-toggle.btn-success{color:#fff;background-color:#449d44;border-color:#398439}.btn-success.active.focus,.btn-success.active:focus,.btn-success.active:hover,.btn-success:active.focus,.btn-success:active:focus,.btn-success:active:hover,.open>.dropdown-toggle.btn-success.focus,.open>.dropdown-toggle.btn-success:focus,.open>.dropdown-toggle.btn-success:hover{color:#fff;background-color:#398439;border-color:#255625}.btn-success.active,.btn-success:active,.open>.dropdown-toggle.btn-success{background-image:none}.btn-success.disabled.focus,.btn-success.disabled:focus,.btn-success.disabled:hover,.btn-success[disabled].focus,.btn-success[disabled]:focus,.btn-success[disabled]:hover,fieldset[disabled] .btn-success.focus,fieldset[disabled] .btn-success:focus,fieldset[disabled] .btn-success:hover{background-color:#5cb85c;border-color:#4cae4c}.btn-success .badge{color:#5cb85c;background-color:#fff}.btn-info{color:#fff;background-color:#5bc0de;border-color:#46b8da}.btn-info.focus,.btn-info:focus{color:#fff;background-color:#31b0d5;border-color:#1b6d85}.btn-info:hover{color:#fff;background-color:#31b0d5;border-color:#269abc}.btn-info.active,.btn-info:active,.open>.dropdown-toggle.btn-info{color:#fff;background-color:#31b0d5;border-color:#269abc}.btn-info.active.focus,.btn-info.active:focus,.btn-info.active:hover,.btn-info:active.focus,.btn-info:active:focus,.btn-info:active:hover,.open>.dropdown-toggle.btn-info.focus,.open>.dropdown-toggle.btn-info:focus,.open>.dropdown-toggle.btn-info:hover{color:#fff;background-color:#269abc;border-color:#1b6d85}.btn-info.active,.btn-info:active,.open>.dropdown-toggle.btn-info{background-image:none}.btn-info.disabled.focus,.btn-info.disabled:focus,.btn-info.disabled:hover,.btn-info[disabled].focus,.btn-info[disabled]:focus,.btn-info[disabled]:hover,fieldset[disabled] .btn-info.focus,fieldset[disabled] .btn-info:focus,fieldset[disabled] .btn-info:hover{background-color:#5bc0de;border-color:#46b8da}.btn-info .badge{color:#5bc0de;background-color:#fff}.btn-warning{color:#fff;background-color:#f0ad4e;border-color:#eea236}.btn-warning.focus,.btn-warning:focus{color:#fff;background-color:#ec971f;border-color:#985f0d}.btn-warning:hover{color:#fff;background-color:#ec971f;border-color:#d58512}.btn-warning.active,.btn-warning:active,.open>.dropdown-toggle.btn-warning{color:#fff;background-color:#ec971f;border-color:#d58512}.btn-warning.active.focus,.btn-warning.active:focus,.btn-warning.active:hover,.btn-warning:active.focus,.btn-warning:active:focus,.btn-warning:active:hover,.open>.dropdown-toggle.btn-warning.focus,.open>.dropdown-toggle.btn-warning:focus,.open>.dropdown-toggle.btn-warning:hover{color:#fff;background-color:#d58512;border-color:#985f0d}.btn-warning.active,.btn-warning:active,.open>.dropdown-toggle.btn-warning{background-image:none}.btn-warning.disabled.focus,.btn-warning.disabled:focus,.btn-warning.disabled:hover,.btn-warning[disabled].focus,.btn-warning[disabled]:focus,.btn-warning[disabled]:hover,fieldset[disabled] .btn-warning.focus,fieldset[disabled] .btn-warning:focus,fieldset[disabled] .btn-warning:hover{background-color:#f0ad4e;border-color:#eea236}.btn-warning .badge{color:#f0ad4e;background-color:#fff}.btn-danger{color:#fff;background-color:#d9534f;border-color:#d43f3a}.btn-danger.focus,.btn-danger:focus{color:#fff;background-color:#c9302c;border-color:#761c19}.btn-danger:hover{color:#fff;background-color:#c9302c;border-color:#ac2925}.btn-danger.active,.btn-danger:active,.open>.dropdown-toggle.btn-danger{color:#fff;background-color:#c9302c;border-color:#ac2925}.btn-danger.active.focus,.btn-danger.active:focus,.btn-danger.active:hover,.btn-danger:active.focus,.btn-danger:active:focus,.btn-danger:active:hover,.open>.dropdown-toggle.btn-danger.focus,.open>.dropdown-toggle.btn-danger:focus,.open>.dropdown-toggle.btn-danger:hover{color:#fff;background-color:#ac2925;border-color:#761c19}.btn-danger.active,.btn-danger:active,.open>.dropdown-toggle.btn-danger{background-image:none}.btn-danger.disabled.focus,.btn-danger.disabled:focus,.btn-danger.disabled:hover,.btn-danger[disabled].focus,.btn-danger[disabled]:focus,.btn-danger[disabled]:hover,fieldset[disabled] .btn-danger.focus,fieldset[disabled] .btn-danger:focus,fieldset[disabled] .btn-danger:hover{background-color:#d9534f;border-color:#d43f3a}.btn-danger .badge{color:#d9534f;background-color:#fff}.btn-link{font-weight:400;color:#337ab7;border-radius:0}.btn-link,.btn-link.active,.btn-link:active,.btn-link[disabled],fieldset[disabled] .btn-link{background-color:transparent;-webkit-box-shadow:none;box-shadow:none}.btn-link,.btn-link:active,.btn-link:focus,.btn-link:hover{border-color:transparent}.btn-link:focus,.btn-link:hover{color:#23527c;text-decoration:underline;background-color:transparent}.btn-link[disabled]:focus,.btn-link[disabled]:hover,fieldset[disabled] .btn-link:focus,fieldset[disabled] .btn-link:hover{color:#777;text-decoration:none}.btn-group-lg>.btn,.btn-lg{padding:10px 16px;font-size:18px;line-height:1.3333333;border-radius:6px}.btn-group-sm>.btn,.btn-sm{padding:5px 10px;font-size:12px;line-height:1.5;border-radius:3px}.btn-group-xs>.btn,.btn-xs{padding:1px 5px;font-size:12px;line-height:1.5;border-radius:3px}.btn-block{display:block;width:100%}.btn-block+.btn-block{margin-top:5px}input[type=button].btn-block,input[type=reset].btn-block,input[type=submit].btn-block{width:100%}.fade{opacity:0;-webkit-transition:opacity .15s linear;-o-transition:opacity .15s linear;transition:opacity .15s linear}.fade.in{opacity:1}.collapse{display:none}.collapse.in{display:block}tr.collapse.in{display:table-row}tbody.collapse.in{display:table-row-group}.collapsing{position:relative;height:0;overflow:hidden;-webkit-transition-timing-function:ease;-o-transition-timing-function:ease;transition-timing-function:ease;-webkit-transition-duration:.35s;-o-transition-duration:.35s;transition-duration:.35s;-webkit-transition-property:height,visibility;-o-transition-property:height,visibility;transition-property:height,visibility}.caret{display:inline-block;width:0;height:0;margin-left:2px;vertical-align:middle;border-top:4px dashed;border-top:4px solid\9;border-right:4px solid transparent;border-left:4px solid transparent}





