{% extends layout_path %}

{% load static %}

{% block title %}Equipos (GC){% endblock %}

{% block breadcrumbs %}
<span class="text-muted fw-light">
  <a href="{% url 'gc:info' %}" class="text-muted fw-light">Gestión Comunicacional</a> /
</span>
<span class="">Equipos</span>
{% endblock %}

{% block content %}
<div class="card">
  <h5 class="card-header">Table Basic</h5>

  <div class="card-body">
    <div class="table-responsive text-nowrap">
      <table id="gc-sm-listing-account" class="table table-striped"">
        <thead>
          <tr>
            <th>ID</th>
            <th>Equipo</th>
            <th>Descripcion</th>
            <th>Estado</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0"></tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block vendor_css %}
{% comment %} <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css"> {% endcomment %}
<link rel="stylesheet" href="{% static 'vendor/libs/data-tables/css/dataTables.bootstrap5.css' %}">
{% endblock %}

{% block vendor_js %}
{% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script> {% endcomment %}
<script src="{% static 'vendor/libs/data-tables/js/dataTables.js' %}"></script>
<script src="{% static 'vendor/libs/data-tables/js/dataTables.bootstrap5.js' %}"></script>
{% endblock %}

{% block page_js %}
<script src="{% static 'js/gc/equipament.js' %}"></script>
<script>
$(document).ready(function () {
  let url = "{% url 'api-gc:eq:listing-equipament' %}"
  listingAccount(url);
});
</script>
{% endblock %}
