{% load static %}
<!-- =============== Navigation ================ -->
<div class="sidebar">
    <div class="logo"></div>
    <ul class="menu">
        <li class="active">
            <a href="/modulos"> <!--  HOME / MODULOS  -->
                <img style="width:20px; height: 30px;" src="{% static 'img/favicon.png' %}">
                <span class="title">S.U.C.I</span>
            </a>
        </li>
        <li class="activado">
            <a href="/rrhh/estadocivil" class="activadoa">
                <i class="fa-solid fa-user-pen"></i>
                <span>Estado Civil</span>
            </a>
        </li>
        <li class="activado">
            <a href="/rrhh/genero" class="activadoa">
                <i class="fa-solid fa-venus-mars"></i>
                <span>Género</span>
            </a>
        </li>
        <li class="activado">
            <a href="/rrhh/tallaCamisa/todos" class="activadoa">
                <i class="fa-sharp fa-solid fa-shirt"></i>
                <span>Tallas de Camisa</span>
            </a>
        </li>
        <li class="activado">
            <a href="/rrhh/tallaPantalon/todos" class="activadoa">
                <i class="fa-solid fa-person"></i>
                <span>Tallas de Pantalón</span>
            </a>
        </li>
        <li class="activado">
            <a href="/rrhh/tallaZapato/todos" class="activadoa">
                <i class="fa-solid fa-shoe-prints"></i>
                <span>Tallas de Zapato</span>
            </a>
        </li>
        <li class="activado">
            <a href="/rrhh/gradoInstruccion" class="activadoa">
                <i class="fa-solid fa-user-check"></i>
                <span>Grado de Instrucción</span>
            </a>
        </li>
        <li class="activado">
            <a href="/rrhh/tipoPersonal" class="activadoa">
                <i class="fa-solid fa-user-gear"></i>
                <span>Tipo de Personal</span>
            </a>
        </li>
        <li class="activado">
            <a href="/rrhh/cargo/todos" class="activadoa">
                <i class="fa-solid fa-user-group"></i>
                <span>Cargos</span>
            </a>
        </li>

        <li class="activado">
            <a href="/rrhh/departamento/todos" class="activadoa">
                <i class="fa-solid fa-ticket-simple"></i>
                <span>Departamento</span>
            </a>
        </li>

        <li class="activado">
            <a href="/rrhh/sedes/todos" class="activadoa">
                <i class="fa-solid fa-school-circle-check"></i>
                <span>Sedes</span>
            </a>
        </li>
        <li class="activado">
            <a href="/rrhh/bonoguerra/todos" class="activadoa">
                <i class="fa-solid fa-money-bill-trend-up"></i>
                <span>Bono de Guerra</span>
            </a>
        </li>
        <li class="activado">
            <a href="/rrhh/cestaticket/todos" class="activadoa">
                <i class="fa-solid fa-ticket"></i>
                <span>Cesta Ticket</span>
            </a>
        </li>
        <li class="activado">
            <a href="/rrhh/sueldominimo/todos" class="activadoa">
                <i class="fa-solid fa-money-bill"></i>
                <span>Sueldo Mínimo</span>
            </a>
        </li>
        <li class="activado">
            <a href="/rrhh/primaprofesional/todos" class="activadoa">
                <i class="fa-solid fa-chart-simple"></i>
                <span>Primas Profesionalismo</span>
            </a>
        </li>
        
        <li class="logout.new">
            <a href="/rrhh/personal/todos"><!--  HOME / MODULOS  -->
                <i class="fa-solid fa-arrow-left"></i>
                <span>Volver</span>
            </a>
        </li>

        <li class="logout">
            <a href="#">
                <i class="fa-solid fa-right-from-bracket"></i>
                <span class="title">Salir</span>
            </a>
        </li>

    </ul>
</div>