{% extends "baserrhh.html" %}

{% block title %} S.U.C.I | Ingreso Personal {% endblock %}

{% load static %}

{% block content %}

<div class="main--content">
    <div class="header--wrapper">
        <div class="header--title">
            <h2>Gestión Humana /<small> Personal Retirado</small></h2>
        </div>
        <div class="user--info">
            
            <img src="{% static 'img/ven911.jpg' %}">
            <h2 class="title">V{{request.user.username}}</h2>
        </div>
    </div>

    <div align="right" style="margin-right: 100px; margin-bottom: -10px;">
        <button type="button" class="btn" onclick="location.href='{% url 'descargar-excel-retirados' %}'">Descargar Excel</button>
        <button type="button" class="btn" onclick="window.location.href='{% url 'generar-pdf-retirados' %}'">Descargar PDF</button>
        <!--<button id="myBtnAdd" class="btn">Agregar</button>-->
    </div>


    <div class="tabular--wrapper">
        <h3 class="main--title">Recientes</h3>
        <div class="table-container">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Estatus</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Cédula</th>
                        <th>Nacionalidad</th>
                        <th>Sexo</th>
                        <th>Edad</th>
                        <th>Teléfono</th>
                        <th>Correo</th>
                        <th>Cargo</th>
                        <th>Acciones</th>
                    </tr>
                <tbody>
                    {% for personal in personales %}
                    <tr>
                        <td>{{ personal.estatus }}</td>
                        <td>{{ personal.nombres }}</td>
                        <td>{{ personal.apellidos }}</td>
                        <td>{{ personal.cedula }}</td>
                        <td>{{ personal.nacionalidad }}</td>
                        <td>{{ personal.sexo }}</td>
                        <td>{{ personal.edad }}</td>
                        <td>{{ personal.telefono }}</td>
                        <td>{{ personal.email }}</td>
                        <td>{{ personal.cargo }}</td>
                        <td>
                            <a href="#" title="Editar Personal" id="myBtnUpd" data-toggle="modal" data-id='{{ personal.id }}'
                                class="btn-editar"
                                style="color: black;">
                                <ion-icon class="fa-solid fa-eye" style="font-size: 22px;"></ion-icon>
                            </a>
                                
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                </thead>
            </table>
        </div>
    </div>

    <!--    INCLUYE MODAL PARA AGREGAR, MODIFICAR, ELIMINAR PERSONAL     -->

    {% include "modal/visualizarPersonal.html" %}

    <script src="{% static 'js/personalRetirado.js' %}"></script> 



    {% endblock %}