{% extends layout_path %}

{% load static %}

{% block title %}Actividades Sociales{% endblock %}

{% block breadcrumbs %}
<span class="text-muted fw-light">
  <a href="{% url 'gc:info' %}" class="text-muted fw-light">Gestión Comunicacional</a> /
</span>
<span class="">Actividades Sociales</span>
{% endblock %}

{% block content %}
<div class="card">
  <h5 class="card-header">Table Basic</h5>

  <div class="table-responsive text-nowrap">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Fecha y hora</th>
          <th>Direccion</th>
          <th>Tipo de Actividad</th>
          <th>Motivo</th>
          <th>Descripcion</th>
          <th>Beneficiarios</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody class="table-border-bottom-0">
        {% for activity in socialActivities %}
        <tr>
          <td><strong>{{ activity.id }}</strong></td>
          <td>{{ activity.date }}</td>
          <td>{{ activity.location }}</td>
          <td>{{ activity.activity_type }}</td>
          <td>{{ activity.reason }}</td>
          <td>{{ activity.description }}</td>
          <td>{{ activity.beneficiaries }}</td>
          <td>
            <a href="#" data-gc-sma-id="{{ activity.id }}" data-gc-sma="{{ activity }}" class="btn-update"
              style="color: black;">
              <i class="fa-solid fa-pen-to-square"></i>
            </a>&nbsp;&nbsp;&nbsp;

            <a href="#" id="myBtnn2{{ activity.id }}" style="color: black;"><i class="fa-solid fa-trash"></i></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
