<div id="addcargo" class="modal">
    <div class="modal-content">
        <span class="close" style="margin-top: -10px;">&times;</span>
        <div class="modal-header">
            <h2>Agregar Cargo</h2>
        </div>
        <br>
        <form method="POST" action="{% url 'cargo' accion='agregar'%}">
            {% csrf_token %}
            <div class="col-md-12">
                <label>Estatus</label>
                <br>
                <input type="text" class="form-control" name="{{form.estatus.html_name}}"
                    placeholder="Ingrese el nombre" value="ACTIVO" readonly required/>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <label>Cargo</label>
                    <br>
                    <br>
                    <input type="text" class="form-group" name="{{ form.cargo.name}}" value=""
                        placeholder="Ingrese el cargo">
                </div>
            </div>
            <br>
            <div>
                <input type="submit" value="enviar" class="btn" style="width: 90px;">
            </div>
        </form>
    </div>
</div>