<div id="addpersonal" class="modal">
    <div class="modal-content">
        <span class="close closeadd" style="margin-top: -10px;" data-dismiss="modal">&times;</span>
        <div class="modal-header">
            <h2>Agregar Personal</h2>
        </div>
        <br>
        <form method="POST" action="{% url 'ingresosPersonal' accion='agregar' %}">
            {% csrf_token %}
            
                <div class="col-md-12">
                    <label>Estatus</label>
                    <br>
                    <input type="text" class="form-control" name="{{form.estatus.html_name}}"
                        placeholder="Ingrese el nombre" value="ACTIVO" readonly required/>
                </div>
           
            
                <div class="col-md-6">
                    <label>Nombre</label>
                    <br>
                    <input type="text" class="form-control" name="{{form.nombres.html_name}}"
                        placeholder="Ingrese el nombre" required maxlength="50">
                </div>

                <div class="col-md-6">
                    <label>Apellido</label>
                    <br>
                    <input type="text" class="form-control" name="{{form.apellidos.html_name}}"
                        placeholder="Ingrese el apellido" required maxlength="50">
                </div>
            
                <div class="col-md-6">
                    <label>Nacionalidad</label>
                    <select class='form-control' name="{{form.nacionalidad.html_name}}" required maxlength="50">
                        <option value="">Seleccione una nacionalidad</option>
                        {% for nacionalidad in nacionalidades %}
                        <option value="{{ nacionalidad.id }}">{{ nacionalidad.nacionalidad }} </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-md-6">
                    <label>Cédula</label>
                    <br>
                    <input type="number" class="form-control" name="{{form.cedula.html_name}}"
                        placeholder="Ingrese la cédula" required maxlength="10">
                </div>
            
                <div class="col-md-6">
                    <label>Sexo</label>
                    <select class='form-control' name="{{form.sexo.html_name}}" required>
                        <option value="">Seleccione un sexo </option>
                        {% for sexo in sexos %}
                        <option value="{{ sexo.id }}">{{ sexo.sexo }} </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-md-6">
                    <label>fecha nacimiento</label>
                    <br>
                    <input type="date" class="form-control" name="{{form.fecha_nac.html_name}}" id="fecha_nac" 
                        placeholder="Ingrese la fecha de nacimiento" onchange="obtenerEdad();" required>
                </div>
            

            <div class="col-md-12">
                <label>Edad</label>
                <br>
                <input type="text" class="form-control" name="{{form.edad.html_name}}" id="edadadd" placeholder="Ingrese la edad"
                    required>
            </div>

            
                <div class="col-md-6">
                    <label>Telefono</label>
                    <br>
                    <input type="text" class="form-control" name="{{form.telefono.html_name}}"
                        placeholder="Ingrese su telefono" required maxlength="11">
                </div>

                <div class="col-md-6">
                    <label>Estado Civil</label>
                    <select class='form-control' name="{{form.estado_civil.html_name}}" required>
                        <option value="">Seleccione un Estado Civil</option>
                        {% for estado in estados %}
                        <option value="{{ estado.id }}">{{ estado.estado_civil }} </option>
                        {% endfor %}
                    </select>
                </div>
            

            <div class="col-md-12">
                <label>Conyugue</label>
                <select class='form-control' id="conyugue" name="{{form.conyugue.html_name}}" onchange="MostrarConyugue();">
                    <option value="SI">SI</option>
                    <option value="NO" selected>NO</option>
                </select>
            </div>
            <div class="col-md-12" id="conyugue1" style="display: none;">
                <label>Cédula Conyugue</label>
                <br>
                <input type="number" class="form-control" name="{{form.cedula_conyugue.html_name}}"
                    placeholder="Ingrese édula" maxlength="10">
            </div>

            <div class="col-md-12">
                <label>Tipo de Sangre</label>
                <select class='form-control' name="{{form.tipo_sangre.html_name}}">
                    <option value="">Seleccione un Tipo de Sangre</option>
                    {% for sangre in sangres %}
                    <option value="{{ sangre.id }}">{{ sangre.tipo_sangre }} </option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-md-12">
                <label>Discapacitado</label>
                <select class='form-control' name="{{form.discapacitado.html_name}}">
                    <option value="1">SI</option>
                    <option value="0" selected>NO</option>
                </select>
            </div>
      
            <div class="col-md-12">
                <label>Talla de Camisa</label>
                <select class='form-control' name="{{form.talla_camisa.html_name}}">
                    <option value="">Seleccione una talla de camisa</option>
                    {% for tallaCamisa in talla_camisa %}
                    <option value="{{ tallaCamisa.id }}">{{ tallaCamisa.talla_camisa }} </option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-md-12">
                <label>Talla de Pantalón</label>
                <select class='form-control' name="{{form.talla_pantalon.html_name}}">
                    <option value="">Seleccione una talla de pantalon</option>
                    {% for tallaPantalon in talla_pantalon %}
                    <option value="{{ tallaPantalon.id }}">{{ tallaPantalon.talla_pantalon }} </option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-md-12">
                <label>Talla de Zapatos</label>
                <select class='form-control' name="{{form.talla_zapato.html_name}}">
                    <option value="">Seleccione una talla de pantalon</option>
                    {% for tallaZapatos in talla_zapato %}
                    <option value="{{ tallaZapatos.id }}">{{ tallaZapatos.talla_zapato }} </option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-md-12">
                <label>Dirección</label>
                <br>
                <input type="text" class="form-control" name="{{form.direccion.html_name}}"
                    placeholder="Ingrese la dirección" required maxlength="150">
            </div>
            <div class="col-md-12">
                <label>Número de Cuenta</label>
                <br>
                <input type="text" class="form-control" name="{{form.nro_cuenta.html_name}}"
                    placeholder="Ingrese el número de cuenta" required maxlength="25">
            </div>
            <div class="col-md-12">
                <label>Correo Electrónico</label>
                <br>
                <input type="text" class="form-control" name="{{form.email.html_name}}"
                    placeholder="Ingrese el correo electrónico" required maxlength="50">
            </div>
            <div class="col-md-12">
                <label>Grado de Instrucción</label>
                <select class='form-control' name="{{form.grado_instruccion.html_name}}">
                    <option value="">Seleccione un grado de instrucción</option>
                    {% for gradoInstruccion in grado_instruccion %}
                    <option value="{{ gradoInstruccion.id }}">{{ gradoInstruccion.grado_instruccion }}
                    </option>
                    {% endfor %}
                </select>
            </div>

           <div class="col-md-12">
                <label>¿Estudia actualmente?</label>
                <select class='form-control' name="{{form.estudias.html_name}}">
                    <option value="1">SI</option>
                    <option value="0" selected>NO</option>
                </select>
            </div>

            <div class="col-md-12">
                <label>Comisión de Servicio</label>
                <select class='form-control' name="{{form.comision_servicio.html_name}}">
                    <option value="1">SI</option>
                    <option value="0" selected>NO</option>
                </select>
            </div>

            <div class="col-md-12">
                <label>PNB</label>
                <select class='form-control' name="{{form.pnb.html_name}}">
                    <option value="1">SI</option>
                    <option value="0" selected>NO</option>
                </select>
            </div>

            <div class="col-md-6">
                <label>Tipo Personal</label>
                <select class='form-control' name="{{form.tipo_personal.html_name}}">
                    <option value="">Seleccione un tipo de personal</option>
                    {% for tipoPersonal in tipo_personal %}
                    <option value="{{ tipoPersonal.id }}">{{ tipoPersonal.tipo_personal }} </option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-md-6">
                <label>Cargo</label>
                <select class='form-control' name="{{form.cargo.html_name}}">
                    <option value="">Seleccione el cargo</option>
                    {% for cargo in cargos %}
                    <option value="{{ cargo.id }}">{{ cargo.cargo }} </option>
                    {% endfor %}
                </select>
            </div>
           
            <div class="col-md-12">
                <label>Fecha de ingreso al 911</label>
                <br>
                <input type="date" class="form-control" name="{{form.fecha_ingreso_911.html_name}}"
                    placeholder="Ingrese la fecha de ingreso al VEN911" required>
            </div>
            <div class="col-md-12">
                <label>Fecha de Ingreso en la APN</label>
                <br>
                <input type="date" class="form-control" name="{{form.fecha_ingreso_apn.html_name}}"
                    placeholder="Ingrese la fecha de ingreso en la APN" required>
            </div>
    
            <div class="col-md-6">
                <label>Contratos</label>
                <br>
                <input type="number" class="form-control" name="{{form.contratos.html_name}}"
                    placeholder="Ingrese si posee contratos" required>
            </div>
            <div class="col-md-6">
                <label>Departamento</label>
                <select class='form-control' name="{{form.departamento.html_name}}">
                    <option value="">Seleccione el departamento</option>
                    {% for departamento in departamentos %}
                    <option value="{{ departamento.id }}">{{ departamento.departamento }} </option>
                    {% endfor %}
                </select>
            </div>
        
            <div class="col-md-12">
                <label>Niños menores de 12 años</label>
                <select class="form-control" id="hijos" name="{{form.nino_menor_12.html_name}}" onchange="MostrarEdades1();">
                    <option value="SI">SI</option>
                    <option value="NO" selected>NO</option>
                </select>
            </div>

            <div class="col-md-12" id="edades1" style="display: none;">
                <label>Edades</label>
                <br>
                <input type="number" class="form-control" name="{{form.edades1.html_name}}"
                    placeholder="Ingrese las edades"  maxlength="10">
            </div>


            <div class="col-md-12">
                <label>Hijos de 13 a 18 Años</label>
                <select class='form-control' id="hijos2" name="{{form.hijos_13_18.html_name}}" onchange="MostrarEdades2();">
                    <option value="SI">SI</option>
                    <option value="NO" selected>NO</option>
                </select>
            </div>

            <div class="col-md-12" id="edades2" style="display: none;">
                <label>Edades</label>
                <br>
                <input type="number" class="form-control" name="{{form.edades2.html_name}}"
                    placeholder="Ingrese las edades" maxlength="10">
            </div>

            <div class="col-md-12">
                <label>Niñas menores de 12 años</label>
                <select class="form-control" id="hijos3" name="{{form.nina_menor_12.html_name}}" onchange="MostrarEdades3();">
                    <option value="SI">SI</option>
                    <option value="NO" selected>NO</option>
                </select>
            </div>

            <div class="col-md-12" id="edades3" style="display: none;">
                <label>Edades</label>
                <br>
                <input type="number" class="form-control" name="{{form.edades3.html_name}}"
                    placeholder="Ingrese las edades" maxlength="10">
            </div>

            <div class="col-md-12">
                <label>Hijos con Discapacidad</label>
                <select class='form-control' id="hijos4" name="{{form.hijos_discapacidad.html_name}}" onchange="MostrarEdades4();">
                    <option value="SI">SI</option>
                    <option value="NO" selected>NO</option>
                </select>
            </div>
            <div class="col-md-12" id="edades4" style="display: none;">
                <label>Edades</label>
                <br>
                <input type="number" class="form-control" name="{{form.edades4.html_name}}"
                    placeholder="Ingrese las edades" maxlength="10">
            </div>

            <div class="col-md-12"  style="display: none;">
                <label>Motivo</label>
                <br>
                <input type="hidden" class="form-control" name="{{form.motivo.html_name}}"
                    placeholder="Motivo">
            </div>

            <div class="col-md-12">
                <label>Sede</label>
                <select class='form-control' name="{{form.sede.html_name}}">
                    <option value="">Seleccione una sede</option>
                    {% for sede in sedes %}
                    <option value="{{ sede.id }}">{{ sede.sede }} </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-12">
                <label>FASMIJ</label>
                <select class='form-control'  id="fasmij" name="{{form.fasmij.html_name}}" onchange="MostrarBeneficiarios();">
                    <option value=1 >SI</option>
                    <option value=0 selected>NO</option>
                </select>
            </div>

            <div class="col-md-12"  id="parentezco1" style="display: none;" >
                <label>Parentezco 1</label>
                <br>
                <input type="text" class="form-control" name="{{form.parentezco1.html_name}}"
                    placeholder="Parentezco" maxlength="10">
            </div>
            <div class="col-md-12" id="beneficiario1" style="display: none;"  >
                <label>Beneficiario 1</label>
                <br>
                <input type="text" class="form-control" name="{{form.beneficiario1.html_name}}"
                    placeholder="Beneficiario" maxlength="50">
            </div>
            <div class="col-md-12" id="cedula1" style="display: none;"  >
                <label>Cedula  1</label>
                <br>
                <input type="number" class="form-control" name="{{form.cedula1.html_name}}"
                    placeholder="Cedula" maxlength="10">
            </div>
            <div class="col-md-12" id="direccion1" style="display: none;"  >
                <label>Direccion 1</label>
                <br>
                <input type="text" class="form-control" name="{{form.direccion1.html_name}}"
                    placeholder="Direccion" maxlength="150">
            </div>

            <div class="col-md-12" id="parentezco2" style="display: none;">
                <label>Parentezco 2</label>
                <br>
                <input type="text" class="form-control" name="{{form.parentezco2.html_name}}"
                    placeholder="Parentezco" maxlength="10">
            </div>
            <div class="col-md-12" id="beneficiario2" style="display: none;">
                <label>Beneficiario 2</label>
                <br>
                <input type="text" class="form-control" name="{{form.beneficiario2.html_name}}"
                    placeholder="Beneficiario" maxlength="50">
            </div>
            <div class="col-md-12" id="cedula2" style="display: none;">
                <label>Cedula  2</label>
                <br>
                <input type="text" class="form-control" name="{{form.cedula2.html_name}}"
                    placeholder="Cedula" maxlength="10">
            </div>
            <div class="col-md-12" id="direccion2" style="display: none;">
                <label>Direccion 2</label>
                <br>
                <input type="text" class="form-control" name="{{form.direccion2.html_name}}"
                    placeholder="Direccion" maxlength="150">
            </div>

            <div class="col-md-12" id="parentezco3" style="display: none;">
                <label>Parentezco 3</label>
                <br>
                <input type="text" class="form-control" name="{{form.parentezco3.html_name}}"
                    placeholder="Parentezco" maxlength="10">
            </div>
            <div class="col-md-12" id="beneficiario2" style="display: none;">
                <label>Beneficiario 3</label>
                <br>
                <input type="text" class="form-control" name="{{form.beneficiario3.html_name}}"
                    placeholder="Beneficiario" maxlength="50">
            </div>
            <div class="col-md-12" id="cedula2" style="display: none;">
                <label>Cedula  3</label>
                <br>
                <input type="text" class="form-control" name="{{form.cedula3.html_name}}"
                    placeholder="Cedula" maxlength="10">
            </div>
            <div class="col-md-12" id="direccion3" style="display: none;">
                <label>Direccion 3</label>
                <br>
                <input type="text" class="form-control" name="{{form.direccion3.html_name}}"
                    placeholder="Direccion" maxlength="150">
            </div>
            <div class="col-md-12">
                <label>Creador</label>
                <br>
                <input type="text" class="form-control" name="{{form.creador.html_name}}"
                    placeholder="Creador" value="1" readOnly>
            </div>

            <div class="col-md-12">
                <!--<label >fecha de Retiro</label>-->
                <br>
                <input type="hidden" class="form-control" id="fecha_retiro_m"  name="fecha_retiro" 
                    placeholder="Fecha de retiro" readOnly>
            </div>
            <br>
            <div align="center">
                <button type="button" class="btn" data-dismiss="modal">Cerrar</button>
                <input type="submit" class="btn" value="Guardar registro" >
            </div>
        </form>
    </div>
</div>