<div id="addTallaPantalon" class="modal">
    <div class="modal-content">
        <span class="close" style="margin-top: -10px;" data-dismiss="modal">&times;</span>
        <div class="modal-header">
            <h2>Agregar Talla Pantalón</h2>
        </div>
        <br>
        <form method="POST" action="{% url 'tallaPantalon' accion='agregar'%}">
            {% csrf_token %}

            <div class="col-md-12">
                <label>Estatus</label>
                <br>
                <input type="text" class="form-control" name="{{form.estatus.html_name}}"
                    placeholder="Ingrese el nombre" value="ACTIVO" readonly required/>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <label>Talla Pantalón</label>
                    <br>
                    <br>
                    <input type="text" class="form-group" name="{{ form.talla_pantalon.name}}" value=""
                        placeholder="Ingrese una talla">
                </div>
            </div>
            <br>
            <div>
                <input type="submit" value="enviar" class="btn" style="width: 90px;">
            </div>
        </form>
    </div>
</div>