<div class="modal fade" id="updPrima" tabindex="-1" role="dialog" aria-labelledby="modal-editar-label">
    <div class="modal-dialog">
        <div class="modal-content">
            <span class="close closeupd" style="margin-top: -10px;" data-dismiss="modal">&times;</span>
            <div class="modal-header">
                <h2>Editar Porcentaje de Prima por Titulo</h2>
            </div>
            <br>
            <form id="form-editar" action="{% url 'primaprofesional' accion='editar' %}" method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <input type="hidden" class="form-control" id="id_e" name="id" value="">

                    <div class="col-md-6">
                        <label for="estatus">Estatus</label>
                        <select class='form-control' id="estatus_e" name="estatus" readOnly>
                            <option value="ACTIVO" readOnly>ACTIVO</option>
                        </select>
                    </div>

                    
                    <div class="col-md-6">
                        <label>Titulo</label>
                        <select class='form-control' id="titulo_e" name="titulo" disabled>
                            <option value="">Seleccione un grado de instruccion</option>
                            {% for grado in grado_instruccion %}
                            <option value="{{ grado.id }}">{{ grado.grado_instruccion }} </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-md-6">
                        <label for="monto">Porcentaje</label>
                        <input type="text" class="form-control" id="porcentaje_e" name="porcentaje">
                    </div>

                    
                </div>
                <br>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Actualizar Cambios</button>
                </div>
            </form>
        </div>
    </div>
</div>