<div class="modal fade" id="updTraslado" tabindex="-1" role="dialog" aria-labelledby="modal-editar-label">
    <div class="modal-dialog">
        <div class="modal-content">
            <span class="close closeupd" style="margin-top: -10px;" data-dismiss="modal">&times;</span>
            <div class="modal-header">
                <h2>Editar Modo de Traslado</h2>
            </div>
            <br>
            <form id="form-editar" action="{% url 'traslados' accion='editar' %}" method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <input type="hidden" class="form-control" id="id_e" name="id" value="">

                    <div class="col-md-6">
                        <label for="lugar">Modo de Traslado</label>
                        <input type="text" class="form-control" id="traslado_e" name="traslado" maxlength="40">
                    </div>

                    
                </div>
                <br>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Actualizar Cambios</button>
                </div>
            </form>
        </div>
    </div>
</div>