{% load static %}
<!-- =============== Navigation ================ -->
<div class="sidebar">
    <div class="logo"></div>
    <ul class="menu">
        <li class="active">
            <a href="/modulos"> <!--  HOME / MODULOS  -->
                <img style="width:20px; height: 30px;" src="{% static 'img/favicon.png' %}">
                <span class="title">S.U.C.I</span>
            </a>
        </li>
        <li>
            <a href="/uri/todos">
                <i class="fa-solid fa-bell"></i>
                <span>Registro Prehospitalario</span>
            </a>
        </li>
        <li>
            <a href="../lugares/todos">
                <i class="fa-solid fa-bell"></i>
                <span>Mantenimientos </span>
            </a>
        </li>
        <li class="logout.new">
            <a href="../modulos">
                <i class="fa-solid fa-arrow-left"></i>
                <span>Volver</span>
            </a>
        </li>
        <li class="logout">
            <a href="{% url 'logout' %}">
                <i class="fa-solid fa-right-from-bracket"></i>
            <span class="title"> Salir </span>
            </a>
        </li>
    </ul>
</div>