{% load static %}
<!-- =============== Navigation ================ -->
<div class="sidebar">
    <div class="logo"></div>
    <ul class="menu">
        <li class="active">
            <a href="/modulos"> <!--  HOME / MODULOS  -->
                <img style="width:20px; height: 30px;" src="{% static 'img/favicon.png' %}">
                <span class="title">S.U.C.I</span>
            </a>
        </li>
        <li class="activado">
            <a href="/uri/lugares/todos" class="activadoa">
                <i class="fa-solid fa-hospital"></i>
                <span>Lugares de Atencion</span>
            </a>
        </li>
        <li class="activado">
            <a href="/uri/traslados/todos" class="activadoa">
                <i class="fa-solid fa-truck-medical"></i>
                <span>Modo de Traslado</span>
            </a>
        </li>
        <li class="activado">
            <a href="/uri/reportes/todos" class="activadoa">
                <i class="fa-solid fa-phone"></i>
                <span>Via de Reporte</span>
            </a>
        </li>
        <li class="activado">
            <a href="/uri/servicios/todos" class="activadoa">
                <i class="fa-solid fa-user-doctor"></i>
                <span>Tipos de Servicios</span>
            </a>
        </li>
        <li class="activado">
            <a href="/uri/tipoArma/todos" class="activadoa">
                <i class="fa-solid fa-gun"></i>
                <span>Tipo de Arma </span>
            </a>
        </li>
        <li class="activado">
            <a href="/uri/tipoAccidente/todos" class="activadoa">
                <i class="fa-solid fa-car"></i>
                <span>Tipo de Accidente</span>
            </a>
        </li>
        <li class="activado">
            <a href="/uri/viajaba/todos" class="activadoa">
                <i class="fa-solid fa-person-dress"></i>
                <span>Viajaba Como</span>
            </a>
        </li>
        <li class="activado">
            <a href="/uri/colorPiel/todos" class="activadoa">
                <i class="fa-solid fa-user-group"></i>
                <span>Color de Piel</span>
            </a>
        </li>

        <li class="activado">
            <a href="/uri/temperaturaPiel/todos" class="activadoa">
                <i class="fa-solid fa-temperature-three-quarters"></i>
                <span>Temperatura de la Piel</span>
            </a>
        </li>

        <li class="activado">
            <a href="/uri/humedadPiel/todos" class="activadoa">
                <i class="fa-solid fa-water"></i>
                <span>Humedad de Piel</span>
            </a>
        </li>
        <li class="activado">
            <a href="/uri/evaluacion/todos" class="activadoa">
                <i class="fa-solid fa-magnifying-glass"></i>
                <span>Evaluación</span>
            </a>
        </li>
        <li class="activado">
            <a href="/uri/intervencion/todos" class="activadoa">
                <i class="fa-solid fa-stethoscope"></i>
                <span>Intervención</span>
            </a>
        </li>
        <li class="activado">
            <a href="/uri/contacto/todos" class="activadoa">
                <i class="fa-solid fa-hospital-user"></i>
                <span>Contacto con el Paciente</span>
            </a>
        </li>
        <li class="activado">
            <a href="/uri/noContacto/todos" class="activadoa">
                <i class="fa-solid fa-user-minus"></i>
                <span>No Contacto con el Paciente</span>
            </a>
        </li>
        
        <li class="logout.new">
            <a href="/uri/todos"><!--  HOME / MODULOS  -->
                <i class="fa-solid fa-arrow-left"></i>
                <span>Volver</span>
            </a>
        </li>

        <li class="logout">
            <a href="#">
                <i class="fa-solid fa-right-from-bracket"></i>
                <span class="title">Salir</span>
            </a>
        </li>

    </ul>
</div>